Pillow==9.5.0
imagehash==4.3.1
configparser==5.3.0
pandas==2.0.3
matplotlib==3.7.2
seaborn==0.12.2
vk-api==11.9.9
aiohttp==3.8.5
asyncio==3.4.3
opencv-python==4.8.1.78
requests==2.31.0
numpy==1.24.3
scikit-image==0.21.0
concurrent-log-handler==0.9.20