aiohttp>=3.13.3
imagehash==4.3.2
matplotlib==3.10.8
pandas==2.3.3
Pillow>=10.3.0
seaborn==0.13.2
vk-api==11.10.0
configparser==7.2.0
olefile>=0.46
beautifulsoup4
requests>=2.20.0,<3.0.0
websocket-client
coverage